div.mod_ok {
	background: url(haken.svg) no-repeat;
	width: 50px;
	height: 50px;
	zoom: 0.8;
	padding: 1px;
	margin: 8px;
}

.tex-example.mod_wrong img#theImg {
	background: url(blitz.svg) no-repeat;
	width: 25px;
	height: 50px;
	zoom: 0.5;
	padding: 1px;
	margin: 2px;
}
