.mq-cursor { 
    background-color: gray;
    color: red;
}
.tex-example{
    border: darkblue solid thin;
    background-color: lightblue;
}
.tex-example.selected{
    border: red solid medium;
    background-color: lightpink;
}
.tex-example.isEqual{
    border: green solid medium;
    background-color: lightgreen;
}
.tex-example.isNotEqual{
    border: red solid medium;
    background-color: salmon;
}

/* .tex-example.mod_wrong{
	background: url(blitz.svg) no-repeat;
	width: 25px;
	height: 50px;
	zoom: 0.5;
	padding: 1px;
	margin: 2px;
}

/* .tex-example.mod_ok img{ */
/* img.test{
	/* background: url(haken.svg) no-repeat; */
	/* src: 'haken.svg';
	min-width: 50px;
	width: 50px;
	min-height: 50px;
	height: 50px;
	zoom: 0.4;
	padding: 1px;
	margin: 2px;
} .tex-example.mod_ok { 
	display: flex;
} */
