.mq-cursor { 
    background-color: gray;
    color: red;
}
.formula_applet{
    border: darkblue solid thin;
    background-color: lightblue;
}
.formula_applet.selected{
    border: red solid medium;
    background-color: lightpink;
}
.formula_applet.isEqual{
    border: green solid medium;
    background-color: lightgreen;
}
.formula_applet.isNotEqual{
    border: red solid medium;
    background-color: salmon;
}

.formula_applet.mod_wrong + img.mod{
	background-image: url("blitz.svg");
	background-repeat: no-repeat;
	width: 25px;
	height: 50px;
	zoom: 0.5;
	padding: 1px;
	margin-left: 20px;
}

.formula_applet.mod_ok + img.mod{
	background-image: url("haken.svg");
	background-repeat: no-repeat;
	width: 50px;
	height: 50px;
	zoom: 0.5;
	padding: 1px;
	margin-left: 20px;
} 

/* .bli-bla {
	background-color: blue;
} */

div#output{
	font-size:26pt; 
	font-family:Arial, Helvetica, sans-serif;
}

.mq-class.inputfield{
	color: blue;
	background-color: lightsteelblue;
	/* font-size: 11pt; */
	border: 1px;
	border-style: solid;
	border-color: red;
	padding: 1px;
}

#editor.formula_applet {
	display: inline-block;
}

#develop {
	background-color: green;
}

#develop:hover {
	background-color: midnightblue;
}

#mode_select input[type="radio"] {
    /* display:none; */
}
#mode_select input[type="radio"] + label {
    color:#000;
    font-family:Arial, sans-serif;
    font-size:18px;
}
#mode_select input[type="radio"] + label span {
	content: \u9678;
    display:inline-block;
    width:19px;
    height:19px;
    /* margin:-1px 4px 0 0; */
    vertical-align:middle;
    /* background:url(http://webdesigntutsplus.s3.amazonaws.com/tuts/391_checkboxes/check_radio_sheet.png) -38px top no-repeat; */
    cursor:pointer;
}
#mode_select input[type="radio"]:checked + label span {
	content: \u9673;
    /* background:url(http://webdesigntutsplus.s3.amazonaws.com/tuts/391_checkboxes/check_radio_sheet.png) -57px top no-repeat; */
}
#input_id input#fa_name {
	margin: 1em;
}